@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('./roboto/Roboto-Italic.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('./roboto/Roboto-BoldItalic.ttf');
}

body {
  font-family: 'Roboto';
  overflow: auto;
}


a:link {
  color: #3B7D00;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #3B7D00;
  background-color: transparent;
  text-decoration: none;
}

a:hover{
  color: #363636;
  background-color: transparent;
}

p {
	padding: 7px;
}

li {
	padding-bottom:10px;
}



/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #232323;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  border-right:1px solid #6D6D6D;
}

/* Change color on hover */
.navbar a:hover, .navbar a.active{
  background-color: white;
  color: black;
  transition-duration: 0.8s;
}



/* 2-column thingy */
div.flexcontainer{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

div.columns{
  padding: 0px;
}

div.columns:nth-of-type(1){
  display: flex;
  flex: 0.25;
  background: #232323;
  color:#979797;
  font-size: 0.8em;
  justify-content: center;
  padding: 10px;
}

div.columns:nth-of-type(2){
  flex: 1;
  background: white;
  overflow: auto;
  overflow-x: hidden;
}

.mainContent{
  width: 78%;
  padding:50px;
  padding-left:100px;
  background: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td{
  width:auto;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media only screen and (max-width: 800px) {
	div.flexcontainer{
		position: initial;
		flex-flow: row wrap !important;
		min-height: min-content;
		overflow-x: hidden;
	}
	div.columns{
		flex: 0 0 100% !important;
	}
	.mainContent{
		padding-left:0px;
		padding:50px;
	}
}

@media only screen and (max-width: 405px) {
	td:nth-of-type(3){
		display:none;
	}
}

/* changes the indent sizing in the pre environment */
pre {
    -moz-tab-size:    4; /* Firefox 4+ */
    -o-tab-size:      4; /* Opera 11.5 & 12.1 only */
    tab-size:         4; /* Chrome 21+, Safari 6.1+, Opera 15+ */
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #232323;
  color: white;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-bottom:1px solid #6D6D6D;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 12px;
  padding-top: 12px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

